/* General font settings */
.roboto-font {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  /* Example for bold text */
  .roboto-font h1,
  .roboto-font h2 {
    font-weight: 700;
  }
  
  /* Apply italic for specific elements */
  .roboto-font p {
    font-style: italic;
  }
  